<?xml version="1.0" encoding="UTF-8"?>

<?import javafx.scene.control.Label?>
<?import javafx.scene.layout.FlowPane?>
<?import javafx.scene.layout.VBox?>
<?import javafx.scene.text.Font?>

<VBox fx:id="rootNode" xmlns="http://javafx.com/javafx/8" xmlns:fx="http://javafx.com/fxml/1" fx:controller="aspguidp.controller.output.element.impl.{{- controllerName -}}">
   <children>
      {%- if (length(trim(title)) != 0) %}
      <Label text="{{- title -}}">
         <font>
            <Font size="18.0" />
         </font>
      </Label>
      {%- endif %}
      <FlowPane prefHeight="0.0" prefWidth="0.0">
         <children>
            {%- for word in displayFormatParts %}
            {%- if (word.startsWith("::")) %}
            {%- set valueElement = valueElements[word.replaceAll("::","")] %}
            <Label fx:id="{{- valueElement.getIdentifier -}}OutputLabel" text="{{- word -}}">
               <font>
                  <Font name="System Bold" size="12.0" />
               </font>
            </Label>
            {%- else %}
            <Label text="{{- word }}" />
            {%- endif %}
            {%- endfor %}
         </children>
      </FlowPane>
   </children>
</VBox>
